<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,800%7CRubik:300,300i,400,400i,500,500i,700,700i,900,900i">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
  </style>
</head>

<body>
  <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
        src="/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
  </div>
  <div class="preloader">
    <div class="preloader-inner">
      <div class="preloader-top">
        <div class="preloader-top-sun"><img src="/images/preloader-default.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <!-- Page Header-->
    <header class="section page-header">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
          data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
          data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px"
          data-xxl-stick-up-offset="1px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark"
                      src="/images/logo-default-170x54.png" alt="" width="170" height="54" /><img
                      class="brand-logo-light" src="images/logo-inverse-170x54.png" alt="" width="170"
                      height="54" /></a>
                </div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">

                  <!-- Conditionally render login or logout links -->
                  {{#if logged_in}}
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#home">Home</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#our-team">Our Team</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#prising">Pricing</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#contact-us">Contact Us</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/profile">Dashboard</a></li>
                  <li class="rd-nav-item"><a class="button button-lg button-icon button-icon-left button-primary" id="logout" href="#"><span class="icon mdi mdi-logout"></span>Logout</a></li>

                  {{else}}
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#home">Home</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#our-team">Our Team</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#prising">Pricing</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/#contact-us">Contact Us</a></li>
                  <li class="rd-nav-item"><a class="button button-lg button-icon button-icon-left button-primary" href="/login"><span class="icon mdi mdi-login"></span>Login</a></li>

                  {{/if}}
                </ul>
              </div>
            </div>
          </div>
          <div class="rd-navbar-placeholder"></div>
        </nav>
      </div>
    </header>

    <!-- Render the sub layout -->
    {{{ body }}}

    <!-- Page Footer-->
    <footer class="section footer-classic">
      <div class="footer-classic-main bg-image context-dark" style="background-image: url(/images/bg-image-2.jpg);">
        <div class="container">
          <div class="footer-classic-layout">
            <div class="footer-classic-layout-item">
              <h5 class="footer-classic-title">Quick Links</h5>
              <div class="footer-classic-item-block footer-classic-item-block-1">
                <ul class="list list-sm cols-custom">
                  <li><a href="/#our-team">Our Team</a></li>
                  <li><a href="/#prising">Pricing</a></li>
                  <li><a href="/#contact-us">Contact Us</a></li>
                  <li><a href="/login">Register/Login</a></li>
                </ul>
                <div class="group group-sm"><a class="link-1 icon mdi mdi-facebook" href="#"></a><a
                    class="link-1 icon mdi mdi-instagram" href="#"></a><a class="link-1 icon mdi mdi-behance"
                    href="#"></a><a class="link-1 icon mdi mdi-twitter" href="#"></a></div>
              </div>
            </div>
            <div class="footer-classic-layout-item footer-classic-item-block-2">
              <h5 class="footer-classic-title">Get in touch</h5>
              <div class="footer-classic-item-block">
                <ul class="list list-md">
                  <li>9 Valley St. Brooklyn, NY 11203</li>
                  <li><a href="tel:#">1-800-346-6277</a></li>
                  <li><a href="mailto:#">info@demolink.org</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-classic-layout-item">
              <h5 class="footer-classic-title">Our Services</h5>
              <div class="footer-classic-item-block">
                <ul class="list list-sm">
                  <li><a href="#">Floral Services</a></li>
                  <li><a href="#">Catering & Décor</a></li>
                  <li><a href="#">Photos & Videos</a></li>
                  <li><a href="#">Venue Selection</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-classic-aside">
        <div class="container">
          <p class="rights"><span>&copy;&nbsp; </span><span
              class="copyright-year"></span><span>&nbsp;</span><span>Happy</span><span>. All rights
              reserved.&nbsp;</span>
            <!--a(href='privacy-policy.html') Privacy Policy-->
            <!--span .-->
            <!--span  Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]-->
          </p>
        </div>
      </div>
    </footer>
  </div>
  <div class="snackbars" id="form-output-global"></div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/core.min.js"></script>
  <script src="/js/script.js"></script>

  <!-- coded by dyoma-->
</body>

</html>