<div class="blog-detail-part paddingub">
  <div class="container img-box">
    <div class="detail-part">

      <div class="comm-form">
        <h3 class="comm-head-three">Pay via Debit/Credit card
          <span id="card-errors" style="padding:15px; margin-left:15px; color:red" role="alert"></span>
        </h3>
        <form class="form signup-form" action="/payment" method="POST">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <input type="text" name="name" class="form-control" placeholder="Name*" required>
            </div>
            <div class="col-xs-12 col-sm-6">
              <input type="email" name="email" class="form-control" placeholder="Email*" required>
            </div>
            <div class="col-xs-12 col-sm-3">
              <input type="number" name="amount" class="form-control" placeholder="Amount*" required>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <div id="card-element" class="form-control" style="padding:15px;"></div>
            </div>

            <div class="col-xs-12 col-sm-3">
              <a href=""></a><button class="btn submit-comment" type="submit">SUBMIT DETAILS</button></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="./js/donate.js"></script>