

<!-- Login-->
<section class="section section-lg bg-gray-100" id="login">
  <div class="container">
    <h2 class="font-weight-bold text-primary">Pay via Debit/Credit card</h2>
    <p><span id="card-errors" class="heading-4" style="padding:15px; color:red" role="alert"></span></p>
    <!-- RD Mailform-->
    <form class="rd-form rd-mailform form-lg login-form" action="/payment" method="POST">
      <div class="row row-30">
        <div class="col-lg-4">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" id="name" type="text" name="name" data-constraints="@Required">
            <label class="form-label" for="name">Name</label>
            <div class="icon form-icon mdi mdi-account text-primary"></div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" type="email" name="email" id="email" data-constraints="@Required">
            <label class="form-label" for="email">Email</label>
            <div class="icon form-icon mdi mdi-email text-primary"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" id="amount" value="{{donation_amt}}" type="text" name="amount" data-constraints="@Required">
            <label class="form-label" for="amount">Amount</label>
            <div class="icon form-icon mdi mdi-currency-usd text-primary"></div>
          </div>
        </div>
         <div class="col-lg-8">
          <div class="form-wrap form-wrap-icon">
            <div id="card-element" class="form-input" style="padding-top:20px; padding-left:5px;"></div>
          </div>
        </div>
      </div>
      <div class="form-wrap form-wrap-button">
        <button class="button button-lg button-icon button-icon-left button-primary" type="submit"><span
            class="icon mdi mdi-login"></span>SUBMIT</button>
      </div>
    </form>
  </div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="./js/donate.js"></script>