

<!-- Login-->
<section class="section section-lg bg-gray-100" id="login">
  <div class="container">
    <h2 class="font-weight-bold text-primary">Sign in <span><a class="rd-nav-link" href="#register">( Register )</a></span></h2>
    
    <!-- RD Mailform-->
    <form class="rd-form rd-mailform form-lg login-form">
      <div class="row row-30">
        <div class="col-lg-8">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" type="email" name="email-login" id="email-login" data-constraints="@Required">
            <label class="form-label" for="email-login">Email</label>
            <div class="icon form-icon mdi mdi-email text-primary"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" id="password-login" type="password" name="password-login"
              data-constraints="@Required">
            <label class="form-label" for="password-login">Password</label>
            <div class="icon form-icon mdi mdi-compass text-primary"></div>
          </div>
        </div>
      </div>
      <div class="form-wrap form-wrap-button">
        <button class="button button-lg button-icon button-icon-left button-primary" type="submit"><span
            class="icon mdi mdi-login"></span>LOGIN</button>
      </div>
    </form>
  </div>
</section>

<!-- Signup-->
<section class="section section-lg" id="register">
  <div class="container">
    <h2 class="font-weight-bold text-primary">Sign up <span><a class="rd-nav-link" href="#login">(Login )</a></span></h2>
    
    <!-- RD Mailform-->
    <form class="rd-form rd-mailform form-lg signup-form">
      <div class="row row-30">
        <div class="col-lg-3">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" type="text" name="name-signup" id="name-signup" data-constraints="@Required">
            <label class="form-label" for="name-signup">Name</label>
            <div class="icon form-icon mdi mdi-account text-primary"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" type="email" name="email-signup" id="email-signup" data-constraints="@Required">
            <label class="form-label" for="email-signup">Email</label>
            <div class="icon form-icon mdi mdi-email text-primary"></div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-wrap form-wrap-icon">
            <input class="form-input" id="password-signup" type="password" name="password-signup"
              data-constraints="@Required">
            <label class="form-label" for="password-signup">Password</label>
            <div class="icon form-icon mdi mdi-compass text-primary"></div>
          </div>
        </div>
      </div>
      <div class="form-wrap form-wrap-button">
        <button class="button button-lg button-icon button-icon-left button-primary" type="submit"><span
            class="icon mdi mdi-login"></span>Register</button>
      </div>
    </form>
  </div>
</section>

<script src="./js/login.js"></script>