<div class="blog-detail-part paddingub">
  <div class="container img-box">
    <div class="detail-part">
      <h2 class="title-two">Welcome, {{name}}</h2>
      <div class="blog-sec-line"></div>
      {{#if projects.length}}
      <div class="comments-part">
        <h3 class="com-head-three">Current Projects</h3>
        <div class="about-service  text-center">
          <div class="container">
            <div class="row project-list">
              {{#each projects as |project|}}


              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="about-serv-detail">
                  <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4><br>
                  <a href="" id="logout"><button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button></a> 
                </div>

              </div>

              {{/each}}
            </div>
          </div>
        </div>

      </div>

      <div class="blog-sec-line"></div>
      {{/if}}
      <div class="comm-form">
        <h3 class="comm-head-three">Create a New Project</h3>
        <form class="form new-project-form">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <input type="text" id="project-name" name="project-name" class="form-control" placeholder="Project Name">
            </div>
            <div class="col-xs-12 col-sm-6">
              <input type="number" id="project-funding" name="project-funding" class="form-control"
                placeholder="Needed funding ($)">
            </div>
          </div>
          <div class="form-group">
            <textarea id="project-desc" name="project-desc" class="form-control" rows="6"
              placeholder="Description"></textarea>
          </div>
          <button class="btn submit-comment" type="submit">CREATE</button>
        </form>
      </div>


    </div>
  </div>
</div>
<script src="./js/profile.js"></script>