<div class="blog-detail-part paddingub">
  <div class="container img-box">
    <div class="detail-part">

      <div class="comm-form text-center">
        <form class="form signup-form" method="POST"></form>
        <h5 class="comm-head-three">Thank you for your generous donation. Your payment has been received.</h5>
        <a href="/"  class="btn submit-comment" type="submit">Return to Homepage</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="./js/donate.js"></script>