
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-center">
      <h2 class="display-5 fw-bold">Thank you for your donation. <br>Your payment has been received.</h2><br>
      <a href="/"><button class="btn btn-primary btn-lg" type="button">Return to Homepage</button></a>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="./js/donate.js"></script>