
<section class="section section-lg bg-gray-100" id="login">
  <div class="container">

      <div class="comm-form text-center">
        <form class="form signup-form" method="POST"></form>
        <h4 class="font-weight-bold text-primary">Thank you for your generous donation. Your payment has been received.</h4>
        <a href="/" class="button button-lg button-icon button-icon-left button-primary" type="submit"><span class="icon mdi mdi-home"></span>Return to Homepage</a>
        </form>
      </div>

  </div>
</div>
